<%- include('../../shared/includes/head', { pageTitle: product.title }) %>
<meta name="description" content="This product is the product that will go with your life in all situations: sport, work, studies, sleep, meeting... Let's buy it now!" />
<link rel="stylesheet" href="/styles/products.css">
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main id="product-details">
    <header>
      <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
      <div id="product-info">
        <h1><%= product.title %></h1>
        <h2><%= product.summary %> </h2>
        <p>$<%= product.price %></p>
        <button class="btn" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Add to Cart</button>
      </div>
    </header>
    
    <p id="product-description"><%= product.description %></p>
  </main>
<%- include('../../shared/includes/footer') %>